/**
 * Place your custom CSS styles here.
 **/
.ufinance .hideButton {
    position: absolute;
    right: 0px;
    margin: 12px 10px 0 0 !important;
    z-index: 999999999;
    opacity: 0;
    font-size: 0.7rem !important;
}

.ufinance .hideButton:hover {
    opacity: 1;
}

.ufinance .list-category-header{
    background-color: #282c30;
}

.ufinance .list-category-icon {
    color: rgb(205, 205, 205);
    padding-bottom: 5px;
    vertical-align: bottom!important;
    cursor: pointer;
}

.ufinance .ticker-note-textarea {
    overflow: auto!important;
    width: -webkit-fill-available !important;
}

.ufinance .card {
    margin-bottom: 0.5em;
    min-width: 250px !important;
}

.widget-width {
    width: 100% !important;
}


#render-target-default {
    display: flex;
    justify-content: center;
}

#render-target-default > .finance {
    flex: 0 0 70%;
}

#render-target-default > #ufinance_app {
    margin-top:135px;
}

#ufinance_app .card-body {
    padding: 0;
    margin-top: -1px;
}

#ufinance_app {
    background: #202020;
    margin-bottom: 15px;
    min-width: 250px;
    max-width: 300px;
    display: block;
    position: relative;
    left: 0px;
    z-index: 9;
    margin-top: 10px;
    /*border: 1px solid #676767;*/
}

#show-hide-ufinance {
    position: fixed;
    background: #646464;
    border-radius: 99999px;
    text-align: center;
    padding: 7px 8px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    bottom: 20px;
    right: 20px;
    z-index: 99999999;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s;
}

#show-hide-ufinance:hover {
    opacity: 1;
}

.slide-right-animate{
    min-width: 0 !important;
    overflow: hidden;
}

#atomic button {
    background: #5f5f5f61;
    color: white;
}

#atomic .Bgc\(\#c2deff\)\:h:hover {
    background-color: #4e4e4e !important;
}

body#atomic {
    display: flex;
}

body#atomic > #svelte {
    flex: 1;
}

body#atomic #ufinance_app {
    background-color: #14181c !important;
}

.ufinance .card-header {
    padding: 0.2rem 1rem !important;
}

.ufinance #textarea-ticker-note{
    padding: 0.3rem;
    margin: 0.3rem;
}

.ufinance .btn {
    margin: 0.2rem 0.5rem;
}

.review-us-btn{
    background: linear-gradient(90deg, rgba(129,127,20,1) 0%, rgba(235,219,18,1) 35%, rgba(247,255,0,1) 100%) !important;
    color: white!important;
    padding: 1rem !important;
    border: 2px solid #ff0000!important;
    text-shadow: 0px 1px 2px #000, 1px 2px 2px #000000!important;
}

.review-us-btn:hover{
    color: #ffcfcf!important;
}

.close_header_icon {
    border: 2px solid #3165ca;
    background: #2e26a9;
    border-radius: 4px;
    padding: 6px 8px;
    cursor: pointer;
}

#stocktwits-widget-news {
    position: relative;
    left: 0px;
}

.header_one {
    display: flex;
}

.header_two {
    flex: 85%;
    display: flex;
    align-items: center;
}

.header_three {
    flex: 10%;
    display: flex;
    align-items: center;
}

.header_icon {
    border: 2px solid #3165ca;
    background: #2e26a9;
    border-radius: 2px;
    padding: 3px 8px 8px 8px;
    cursor: pointer;
}

#st_car .inner-twits {
    margin-top: 1px;
    margin-bottom: -4px;
}

#inject_links {
    padding: 0.3em;
}

.signal_buttons, .or-ai-buttons {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.signal_buttons button, .or-ai-buttons button {
    font-size: 0.8rem !important;
    padding: 4px !important;
}

.signal_buttons .btn {
    width: 48%;
    padding: 3px !important;
}
