/**
 * Place your custom CSS styles here.
 **/
.finance.US,
.Bgc\(\$bg-content\).Cf {
    background: radial-gradient(#2c2c2c, #2c2c2c);
}

#header-wrapper {
    background: #202020 !important;
}

.Fz\(0\).Pstart\(15px\).Pos\(a\).Miw\(190px\) {
    filter: brightness(2);
}

#header-profile-button div,
#header-mail-button span {
    color: white !important;
}

#header-notification-button svg,
#header-mail-button svg {
    fill: white !important;
    stroke: white !important;
}

body {
    background: #202020!important;
    background-color: #202020!important;
    color: white !important;
}

#Col2-7-Footer {
    background: #2c2c2c !important;
    color: white;
}

input::placeholder {
    color: #e0e0e0 !important;
}

#Lead-3-FinanceHeader-Proxy>div {
    background-color: #5d5d5d !important;
}

.Fz\(xs\).Fw\(b\).D\(ib\).C\(\$tertiaryColor\) {
    background-color: white;
}

#YDC-Nav>div,
#Lead-1-FinanceHeader-Proxy>div,
#Lead-2-FinanceHeader-Proxy>div {
    background: #404040 !important;
}

#YDC-SecondaryNav,
#SecondaryNav-0-SecondaryNav-Proxy>div>ul,
#SecondaryNav-0-SecondaryNav-Proxy>div {
    background: #313131 !important;
    padding: 0 10px;
}


#YDC-Nav .C\(\$finNavBlueText\) {
    color: white !important;
}

.Pos\(r\).Bgc\(\$bg-content\).Bgc\(\$layoutBgColor\)\! {
    padding-top: 15px !important;
    background: radial-gradient(#212121, #212121) !important;
}

#YDC-Col2 {
    padding-top: 15px !important;
}

#YDC-Col2-Stack {
    background-color: #212121;
}

#market-summary {
    background: radial-gradient(#212121, #212121) !important;
    background-color: #212121 !important;
    display: flex !important;
}

#UH-2-DesktopNav>div {
    background: radial-gradient(#404040, #404040);
}

#market-summary .D\(ib\).Fl\(start\) {
    background: #212121;
    color: white;
    padding: 10px;
}

.market-summary {
    width: 1150px !important;
}

#market-summary .nav {
    margin-left: 0px !important;
}

#market-summary .nav button {
    color: white !important;
    background: #464646 !important;
}

.nr-applet-subnav {
    background: radial-gradient(#404040, #404040) !important;
}

#atomic .C\(black\) {
    color: white !important;
}

#atomic .C\(black\)\!\:h:hover {
    color: #cecece !important;
}

#atomic .C\(black\):hover {
    color: #ada1ef !important;
}

#atomic .C\(\$c-fuji-grey-m\),
#atomic .C\(\$primaryColor\) {
    color: #cecece !important;
}

#atomic .C\(\$c-fuji-grey-m\):hover,
#atomic .C\(\$primaryColor\):hover {
    color: #ada1ef !important;
}

#atomic .C\(\#000\),
#atomic .C\(\$fg-header\),
#atomic .C\(lightTheme\),
#atomic .C\(radp-c\),
#atomic .C\(radp-selected-c\) {
    color: white !important;
}

#slingstoneStream-0-Stream ul li,
#quoteNewsStream-0-Stream ul li {
    background: #404040;
    padding: 8px;
    border-radius: 9px;
    margin: 5px 0;
}

.js-stream-content ul {
    display: flex !important;
}

#atomic .Bgc\(\$altRowColor\),
#atomic .Bgc\(\$panelBackground\) {
    background: #212121 !important;
}

#atomic .Bgc\(\$hoverBgColor\)\:h:hover,
#atomic .Bgc\(\$extraLightBlue\)\:h:hover {
    background-color: #404142 !important;
}

#atomic .Bgc\(\$lightRed\) {
    background-color: #860505 !important;
}

#atomic .Bgc\(\$lightGreen\) {
    background-color: #00760e !important;
}

#quote-header-info span.Trsdu\(0\.3s\):before {
    content: " ";
    color: white;
    min-width: 32px;
    display: inline-block;
}

.trendUp1:before,
.trendUp2:before {
    content: "\f062" !important;
    font-family: "Font Awesome 5 Free" !important;
    color: green !important;
    font-weight: 900 !important;
    line-height: 1em;
    font-size: 1em;
}

span.Trsdu\(0\.3s\):before {
    position: absolute;
    margin-left: -15px;
}

.trendDown1:before,
.trendDown2:before {
    content: "\f063" !important;
    font-family: "Font Awesome 5 Free" !important;
    color: red !important;
    font-weight: 900 !important;
    line-height: 1em;
    font-size: 1em;
}

table .Pstart\(20px\) {
    padding-left: 10px !important;
}

#atomic .C\(\#0078ff\)\:h:hover {
    color: #ada1ef !important;
}

#atomic .C\(\#959595\),
#atomic .C\(\$subtitleGray\) {
    color: #ffffff !important;
}

.render-target-active.render-target-modal>div {
    background: #4e4e4e !important;
}

article {
    background: #4e4e4e !important;
    padding: 30px;
}

#atomic .C\(\#222\) {
    color: #868686 !important;
}

#atomic .C\(\#26282a\),
#atomic .C\(tourneyFontColor\),
#atomic .C\(\$c-fuji-grey-l\),
#atomic .C\(\$headTile\),
#atomic .C\(\$mainTile\) {
    color: white !important;
}

.Bgc\(\#fff\) {
    background: #2c2c2c !important;
}

.figure-caption {
    filter: invert(1);
}

#atomic .C\(\$c-fuji-blue-4-b\) {
    color: white !important;
}

textarea {
    background: #4c4c4c !important;
}

::-webkit-input-placeholder {
    color: #e4e4e4 !important;
}

#atomic .Bgc\(\$lv1BgColor\) {
    background-color: #151515 !important;
}

.nr-applet-nav-item {
    color: #737eff !important;
}

#atomic .Bgc\(\#f5f8fa\),
#atomic .Bgc\(\$headerBgColor\),
#atomic .Bgc\(\$lv4BgColor\) {
    background: #202020 !important;
}

._2be1b9e2 {
    background: #202020 !important;
}

ul.f470fc71 li {
    background: #404040 !important;
}

li ._09731ef7 {
    color: white !important;
}

#atomic .C\(\$c-fuji-grey-i\),
#atomic .C\(\$c-secondary-text\),
#atomic .C\(\$lightGrayText\),
#atomic .C\(\$tertiaryColor\) {
    color: #a6a6a6 !important;
}

.react-autocomplete-box input {
    background-color: #434343 !important;
    color: white !important;
}

.react-autocomplete-results-list,
.react-autocomplete-results {
    background: #262626 !important;
}

#atomic .Bgc\(\$hoverBlue\)\:h:hover {
    background-color: #404142 !important;
}

:link,
:visited {
    color: #60b5ff !important;
}

.nr-applet-nav-item.rapidnofollow {
    color: white !important;
}

:link:hover,
:visited:hover {
    color: #b8daf7 !important;
}

#atomic .Bgc\(\$bgTile\),
#atomic .Bgc\(\$layoutBgColor\),
#atomic .Bgc\(\$lv2BgColor\),
#atomic .Bgc\(\$lv3BgColor\) {
    background-color: #333 !important;
}

.fi-row:hover .fi-row\:h_Bgc\(\$hoverBgColor\) {
    background: radial-gradient(#4b4b4b, #4b4b4b);
}

#atomic .Bgc\(\#fff\),
#atomic .Bgc\(\$bg-body\),
#atomic .Bgc\(\$bg-content\),
#atomic .Bgc\(\$white\),
#atomic .Bgc\(menuBgc\),
#atomic .Bgc\(radp-bgc\) {
    background-color: #202020 !important;
    background: radial-gradient(#202020, #202020) !important;
}

#atomic .Bgc\(white\) {
    background-color: #202020 !important;
}

#atomic .Bdbc\(\$tableBorderBlue\)\:h:hover {
    border-bottom-color: #7b7b7b !important;
}

#atomic .Bdbc\(\$finLightGrayAlt\) {
    border-bottom-color: #5a5a5a !important;
}

#atomic .C\(\$c-fuji-grey-j\),
#atomic .C\(\$finDarkGray\),
#atomic .C\(\$secondaryColor\) {
    color: #cdcdcd !important;
}

#atomic .Bg\(\$pfColumnFakeShadowGradient\) {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(transparent)) !important;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), transparent) !important;
}

#Col1-0-PortfolioNewsStream-Proxy {
    padding: 15px;
}

svg.Py\(8px\).Cur\(p\) {
    fill: white !important;
    stroke: white !important;
    stroke-width: 5px !important;
    margin-left: -45px !important;
}

#Col1-0-PortfolioNewsStream-Proxy ul li {
    background: #343434;
    padding: 15px;
    width: 80% !important;
    border-radius: 10px;
}

#atomic .C\(\$c-fuji-blue-4-b\),
#atomic .C\(\$newsHeadline\) {
    color: #7a8aff !important;
}

#Col1-0-PortfolioNewsStream-Proxy ul li.W\(60\%\) {
    background: #444444;
}

#atomic .C\(\$c-fuji-grey-8\),
#atomic .C\(\$c-fuji-grey-h\) {
    color: #b5b5b5 !important;
}

#atomic .Bgc\(\$extraLightBlue\),
#atomic .Bgc\(\$hoverBgColor\) {
    background-color: #202020 !important;
}

.selected-sub .selected-sub_Bgc\(\$navSelectedBlue\),
.selected .selected_Bgc\(\$navSelectedBlue\),
.Selected .Selected_Bgc\(\$navSelectedBlue\) {
    background: radial-gradient(#595959, #595959);

}

.selected .selected_C\(black\)>span {
    filter: invert(1);
}

.call-in-the-money .call-in-the-money_Bgc\(\$hoverBgColor\),
.desktop .desktop_Bgc\(\$hoverBgColor\)\:h:hover,
.put-in-the-money .put-in-the-money_Bgc\(\$hoverBgColor\) {
    background: radial-gradient(#383838, #383838) !important;
}

#atomic .Bdc\(\$seperatorColor\) {
    border-color: #484848 !important;
}

#atomic .Bdbc\(\$seperatorColor\) {
    border-bottom-color: #484848 !important;
}

svg.Va\(m\)\!.Mt\(\-5px\).Cur\(p\) {
    fill: white !important;
    stroke: white !important;
    stroke-width: 5px !important;
}

#atomic .Bgc\(\$c-fuji-grey-1\),
#atomic .Bgc\(\$c-fuji-grey-a\) {
    background-color: #212121 !important;
}

#atomic .Bgc\(\#f6f6f6\),
#atomic .Bgc\(\$fullScreenChartFooterBgc\) {
    background-color: #131313 !important;
}

canvas,
figcaption {
    filter: invert(1) hue-rotate(180deg) saturate(1.2) brightness(1.2);
}

.ciq-night canvas,
.ciq-night figcaption {
    filter: none !important;
}

.ciq-night .chartContainer {
    background: #201f24 !important;
}

figcaption.D\(f\) {
    filter: brightness(1.2) !important;
}

#atomic .Bgc\(\$enhancedAddToWLbackground\) {
    background-color: #283d55 !important;
}

.vp-playlist-mode-bottom.vp-playlist-theme-light,
.vp-playlist-mode-right.vp-playlist-theme-light {
    background-color: #868686 !important;
}

button {
    color: white;
}

button svg {
    fill: rgb(255, 255, 255) !important;
    stroke: rgb(255, 255, 255) !important;
}

input {
    background: #565656 !important;
    color: white !important;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
}

.Bxsh\(commentFlyoutShadow\) {
    background: #565656 !important;
}

._0ea0377c,
.eade53eb {
    color: white !important;
}

.d08e6d69 {
    color: #e0e0e0 !important;
}

.action-appear.action-appear-active,
.Bd.Bdc\(\$c-fuji-grey-c\) {
    background: #333 !important;
}

.tdv2-applet-featurebar {
    color: white !important;
}

.head_detail {
    padding: 12px;
    display: block;
    font-size: 16px;
    background: #313131;
    border-bottom: 2px solid #919191;
    box-shadow: 0px 2px 2px -2px #474747;
}

.dustyImage h2,
.dustyImage p {
    color: white !important
}

.fin-tab-item span {
    color: white !important;
}

li.Bgc\(\$pillBgBlue\) {
    background-color: #545454 !important;
}

#atomic .C\(\$c-fuji-grey-k\) {
    color: #ffffff !important;
}

.filterItem:hover .filterItem\:h_C\(black\) {
    color: white !important;
}

.Bgc\(\$pillBgBlue\)\:h:hover {
    background-color: #6f6f6f !important;
}

.Bgc\(\$pillBgBlue\) {
    background-color: #545454 !important;
}

._3gOLs {
    color: #808080 !important;
}

#spotIm-conversations-module-wrapper {
    background-color: #363636 !important;
}

#mainArticleIdComments {
    background-color: #363636 !important;
}

#jacPosition_OpenWebWidget {
    filter: invert(1) grayscale(1);
}

.ydtKh button {
    color: #808080 !important;
}

.Px\(2px\).Pt\(3px\).Cur\(p\) {
    fill: #868686 !important;
    stroke: #868686 !important;
}

#atomic .C\(\$finNavBlueText\)\! {
    color: #6f7afd !important;
}

#atomic .Bg\(\$trumponomicsGradient\) {
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000)) !important;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)) !important;
}

.btn-white {
    background: #0e0e0e !important;
    color: #fbfbfb !important;
}

#stocktwits-widget-news {
    position: relative;
    left: 0px;
}

#atomic .C\(\$c-fuji-grey-l\)\! {
    text-shadow: 0px 0px 1px #ffffff;
}

#atomic .Bgc\(\#c2deff\)\:h:hover {
    background-color: #4e4e4e !important;
}

.Bgc\(\$layoutBgColor\)\!,
.Bgc\(\$bg-body\) {
    background: radial-gradient(#4a4a4a, #4a4a4a) !important;
}

.o-safeframe {
    background: #5f5f5f;
    padding: 20px 0px 0px 20px;
}

#atomic .Bgc\(\#f9f9f9\),
#atomic .Bgc\(\$bg-header\) {
    background-color: #696969 !important;
}


.canvas-image {
    background: #8e8e8e;
}

.slideshow-figure {
    background: #8e8e8e;
}

#atomic .C\(\#000\.87\) {
    color: rgba(232, 232, 232) !important;
}

.modules_suggestionList__2EooL {
    background-color: #2e2e2e !important;
}

.modules_sectionHeader__bJReo {
    background-color: #2e2e2e !important;
}

.modules_linkItem__2NK9M.modules_selectedBackground__3xdSN {
    background-color: #5d5d5d !important;
}

.modules_linkItem__2NK9M {
    background-color: #4e4e4e !important;
}

.modules_recRightCol__11i8f {
    color: white !important;
}

.caas-body {
    color: white !important;
}

._yb_16kkj._yb_145p4 {
    background: #202020 !important;
}

._yb_zoit6._yb_85365._yb_1neue,
._yb_1hwa1._yb_18992 {
    color: white !important;
}

._yb_16kkj._yb_1r5h0 {
    background: #404040 !important;
}

.caas {
    background: #424242 !important;
    color: #e3e3e3 !important;
}


.caas h1 {
    color: #d6d6d6 !important;
}

._0edd730f {
    background-color: #464646 !important;
}

.caas-readmore-collapse:before {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(110, 110, 110, 0.3)), to(#4e4e4e)) !important;
    background: -webkit-linear-gradient(top, rgb(110 110 110 / 30%) 0%, #4e4e4e 100%) !important;
    background: linear-gradient(to bottom, rgb(110 110 110 / 30%) 0%, #4e4e4e 100%) !important;
}

.caas-readmore .caas-button {
    background: #404040;
    color: white !important;
}


.caas-readmore .caas-button:active,
.caas-readmore .caas-button:focus,
.caas-readmore .caas-button:hover {
    background: #202020;
}

.common.simple-list-item.stream-item {
    background: #424242;
    border-radius: 20px;
    padding: 15px;
    margin: 5px !important;
}

#atomic .C\(\$summaryColor\) {
    color: #dbdbdb !important;
}

._yb_w9g9b {
    color: white !important;
}

.ybar-ytheme-fuji2 ._yb_1yrc1 ._yb_w9g9b._yb_g31e8:after {
    background: #004fff !important;
}

.ybar-light .ybar-ytheme-fuji2 ._yb_t88za {
    background: #4e4e4e !important;
    border: 1px solid gray;
}

#viewer-aside {
    margin: 25px 0px 0px 0px;
    background: #323232;
    padding: 10px;
}

.caas.caas-sidekick {
    padding: 10px;
}

.content-container {
    background: #2e2e2e;
    padding: 5px;
}

.cover-title h2 {
    color: white !important;
}

.caas-cc .caas-container {
    width: 94% !important;
}

#closebtn {
    filter: contrast(0.8);
    border-radius: 3px !important;
}

.caas-share-section .caas-button.flickrComment path,
.caas-share-section .caas-button.twitter path,
.caas-share-section .caas-button.mail path,
.caas-share-section .caas-button.facebook path,
.caas-share-section .caas-button.line path,
.caas-share-section .caas-button.whatsapp path {
    fill: #d2d2d2 !important;
}

.modules_quoteCompanyName__3YiTx.modules_Ell__1-r-H {
    color: #d7d7d7 !important;
}

.modules_quoteRightCol__92sdx.modules_IbBox__2YYTq {
    color: #adadad !important;
}

.modules_newsMeta__2ydFA {
    color: #adadad !important;
}

._yb_a7iho._yb_1ygoo {
    filter: contrast(0.5) brightness(1.5);
}

._yb_wbekn {
    font-weight: 500;
    font-size: 14px;
    color: white !important;
}


.ybar-ytheme-fuji2 ._yb_1au5t,
.ybar-ytheme-fuji2 ._yb_1ibj2 ._yb_1au5t {
    background-color: #2c2c2c !important;
}

._yb_1ogh4 {
    background-color: #4d4d4d !important;
}

._yb_9ntvb {
    background-color: #2c2c2c !important;
}

._yb_19gmz {
    color: white !important;
}

.yns-notifications .Pstart\(27px\) {
    background: #444444 !important;
}

._yb_1w15b {
    background: #444444 !important;
}

._yb_1reda {
    background: #636363 !important;
}

#atomic .Bxsh\(\$horzScrollItemShadow\) {
    box-shadow: none !important;
}


.fireplace-module.fireplace-xray .fire-xray-overlay-section-content {
    background-color: #1d1d1d !important;
}

.fireplace-module.fireplace-xray .fire-xray-overlay-section-entity-overview-header-title {
    color: white !important;
}

.fireplace-module.fireplace-xray .fire-xray-entity-follow-button-link {
    color: #ababab !important;
}

.fireplace-module.fireplace-xray .fire-xray-overlay-section-entity-overview-related-articles-view-more-button {
    color: #9d9d9d !important;
}

.fireplace-module.fireplace-xray .fire-xray-overlay-section-entity-overview-related-ticker-ticker-symbol {
    color: white !important;
}

.fireplace-module.fireplace-xray .fire-xray-overlay-section-entity-overview-related-ticker-ticker-price span {
    color: white !important;
}

.fireplace-module.fireplace-xray .fire-xray-overlay-section-entity-overview-related-ticker-ticker-label {
    color: #cfcfcf !important;
}

.fireplace-module.fireplace-xray .fire-xray-overlay-section-entity-overview-related-articles .simple-list li h4 a {
    filter: invert(1);
}

.fireplace-module.fireplace-xray.fireplace-device-desktop .fire-xray-overlay-section,
.fireplace-module.fireplace-xray.fireplace-device-tablet .fire-xray-overlay-section {
    background-color: #1d1d1d !important;
}

.fireplace-module-popover .fireplace-popover-content:after {
    background-image: linear-gradient(to top, rgb(62 62 62), rgb(56 56 56) 30%, rgb(31 31 31 / 80%) 70%, rgb(255 255 255 / 0%)) !important;
}

.fire-xray-pill-link {
    background-color: #404040;
}

.fireplace-module.fireplace-xray .fire-xray-pill {
    background-color: black !important;
}

.caas-img.caas-loaded {
    filter: brightness(1);
}

.ybar-light #ybar-inner-wrap {
    background: #404040 !important;
}

.header_one {
    display: flex;
}

.header_two {
    flex: 85%;
    display: flex;
    align-items: center;
}

.header_three {
    flex: 10%;
    display: flex;
    align-items: center;
}

.header_icon {
    border: 2px solid #3165ca;
    background: #2e26a9;
    border-radius: 2px;
    padding: 3px 8px 8px 8px;
    cursor: pointer;
}

#st_car .inner-twits {
    margin-top: 1px;
    margin-bottom: -4px;
}

#inject_links {
    padding: 0.3em;
}


.signal_buttons, .or-ai-buttons {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.signal_buttons button, .or-ai-buttons button {
    font-size: 0.8rem !important;
    padding: 4px !important;
}

.signal_buttons .btn {
    width: 48%;
    padding: 3px !important;
}

.modules_sectionHeader__PO3g4 {
    border-top: 1px solid #000000 !important;
    background: #414141 !important;
}

.modules_linkItem__P-S-4 {
    background-color: #747474 !important;
    background: #747474 !important;
}

.modules_selectedBackground__-Eg6s {
    filter: brightness(0.6);
}

.modules_selectedBackground__-Eg6s:hover {
    filter: brightness(0.9);
}

.modules_linkItem__P-S-4:hover {
    background-color: #646464 !important;
}

.modules_quoteSymbol__hpPcM {
    color: #1f1f1f !important;
}

.modules_quoteCompanyName__YUC7Y {
    color: #313131 !important;
}

.modules_newsTitle__49rQI {
    color: #313131 !important;
}

.modules_newsMeta__2FrV7 {
    color: #1f1f1f !important;
}

.modules_modernSuggestionItem__fRMIa {
    border-top: 1px solid #070707;
    background: #9a9a9a;
}

.modules_suggestionList__NNFY0 {
    background-color: #6c6c6c !important;
}

.modules-module_sectionHeader__ywcdp {
    background: #646464 !important;
}

.modules-module_linkItem__r-Zwd {
    background: #444444 !important;
}

.modules-module_linkItem__r-Zwd:hover {
    background: #3f3f3f !important;
}

.modules-module_recRightCol__n-mgH {
    color: white !important;
}

.modules-module_itemIcon__knMai {
    fill: white !important;
}

.modules-module_quoteCompanyName__JVZCM,
.modules-module_newsMeta__gAI-m,
.modules-module_quoteRightCol__iH6f- {
    color: #afafaf !important;
}

.modules-module_tipMessage__ZQFev {
    background: black !important;
    color: white !important;
}

.modules-module_sectionHeader__ywcdp {
    margin-bottom: 0 !important;
}

#atomic .Bgc\(\$lv4BgColor\)\:h:hover {
    background-color: #404040 !important;
}

.caas-xray-wrapper.caas-xray-wrapper-type-cards .xray-cards-arrow-enabled {
    background-color: #545454 !important;
}

.caas-xray-wrapper.caas-xray-wrapper-type-cards .caas-xray-pills-list-wrapper .xray-cards-gradient-mask-next {
    background-image: linear-gradient(to right, rgb(8 8 8 / 0%), #494949 40%) !important;
}

.caas-xray-wrapper.caas-xray-wrapper-type-cards .caas-xray-pills-list-wrapper .xray-cards-gradient-mask-previous {
    background-image: linear-gradient(to left, rgb(8 8 8 / 0%), #494949 40%) !important;
}

.f4be3290 {
    color: #06ad6a !important;
}

:root {
    --primary-light: #ffffff !important;
    --secondary-light: #d0d0d0 !important;
    --finc-positive: #06ad6a !important;
    --positive: #06ad6a !important;
    --yb-white: #353535 !important;
    --yb-batcave: #dbdbdb !important;
    --enabled-active-brand-light: #01b192 !important;
    --hovered-brand-same-light: #06ab8e !important;
    --enabled-active-neutral-light: #a4a4a4 !important;
    --hovered-neutral-light: #989a9b !important;
    --pressed-neutral-light: #a4a4a4 !important;
    --pressed-bg-neutral-light: #9c9c9c !important;
    --neutral-bg-light: #7f7f7f !important;
    --surface1-light: #454545 !important;
    --surface2-light: #313131 !important;
    --surface3-light: #4a4a4a !important;
    --surface4-light: #3c3c3c !important;
    --surface5-light: #3c3c3c !important;
    --surface1: #454545 !important;
    --surface2: #313131 !important;
    --surface2a: #313131 !important;
    --surface2b: #313131 !important;
    --surface3: #353535 !important;
    --surface4: #3c3c3c !important;
    --surface5: #3c3c3c !important;
    --table-hover-emph: #525252 !important;
    --table-hover-emph-light: #525252 !important;
    --light-divider-light: #6a6a6a !important;
    --text-color: rgb(180 180 180) !important;
    --text0-light: #ffffff !important;
    --text1-light: #e7e7e7 !important;
    --text2-light: #aaaaaa !important;
    --text3-light: #7c7c7c !important;
    --text0: #ffffff !important;
    --text1: #e7e7e7 !important;
    --text2: #aaaaaa !important;
    --text3: #7c7c7c !important;
    --text4: #7c7c7c !important;
    --hover1: #3b3b3b !important;
    --hover2: #434343 !important;
    --hover3: #383838 !important;
    --hover4: #383838 !important;
    --white: #282828 !important;
    --primary: #9e9e9e !important;
    --secondary: #a8a8a8 !important;
    --yb-l2-background: #282828 !important;
    --pressed-bg-neutral-light: #f0f3f5 !important;
    --enabled-active-emph-light: #91bdf9 !important;
    --hovered-emph-same-light: #4e96f9 !important;
    --hovered-emph-lighter-light: #4792f6 !important;
    --pressed-emph-light: #4d7add !important;
    --enabled-active-emph: #739dd9 !important;
    --yb-batcave: #424242 !important;
    --yb-account-info-bg: #424242 !important;
    --yb-text-primary: #aaaaaa !important;
    --yb-account-text: #c0c0c0 !important;
    --yb-account-item-hover-bg: #606060 !important;
    --table-hover-light: #676767 !important;
    --table-selected-light: #4a4a4a !important;
    --table-hover-emph-light: #676767 !important;
    --table-selected-emph-light: #606060 !important;
    --separator-light: #5e5e5e !important;
    --yb-marshmallow: #696969 !important;
    --positive-bg-light: #004a2c !important;
    --negative-bg-light: #420101 !important;
    --positive-bg: #004a2c !important;
    --negative-bg: #420101 !important;
}

.H\(\$chartGutterResponsive\) {
    background: #333333 !important;
}

#fin-cal-events a span {
    color: #151515 !important;
}

#atomic .C\(\#232a31\)\! {
    filter: invert(1) !important;
}

._yb_111ep0m {
    color: #c0c0c0 !important;
}

.tw-bg-opacity-25.lead-img {
    filter: brightness(1.4) !important;
    background: #424242 !important;
}

svg.svelte-7mltoh {
    fill: white !important;
}

.Typography__text--11-4-6 span {
    color: white !important;
}

.caas.enableNeoGreen .caas-readmore .caas-button.readmore-button-finance:hover {
    background-color: #676767 !important;
}

.caas .xray-tickerpills-carousel-wrap:after {
    background-image: linear-gradient(to right, transparent, #676767) !important;
}

.ffa9be6d {
    --white: #282828 !important;
    --surface1: #282828 !important;
    --gray-light-200-divider-solid: #484848 !important;

}

.chartContainer {
    background: #606060 !important;
}

.modules-module_greenSrchRslt__Iemde {
    background: #2e2e2e !important;
}

.caas .xray-tickerpills-carousel-wrap {
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.75) !important;
}

.container .content .titles .clamp {
    color: rgb(216, 216, 216) !important;
}

.layoutContainer {
    background: #3b3b3b !important;
}

.singleScrollPageWidth {
    background: #3b3b3b !important;
}

#ybar-navigation {
    background: #454545 !important;
}

.collapseSnippetLg {
    color: rgb(202, 202, 202) !important;
}

#footer-desktop-nel {
    background-color: #404040 !important;
    color: white !important;
}

#atomic button {
    background: #5f5f5f61;
    color: white;
}

.xray-entity-title-link {
    color: white !important;
}

._yb_1y2wt,
._yb_wxg0j,
._yb_1sgf0,
._yb_1sgf0 {
    color: white !important;
}

._yb_y94x8 {
    background-color: black !important;
}

.caas.enableGTAmerica h2,
.caas.enableGTAmerica h3,
.caas.enableGTAmerica p {
    color: white !important;
}

.caas.enableGTAmerica .caas-content-byline-wrapper .caas-content-contain-share .caas-share-buttons .caas-button .comments-count,
.caas.enableGTAmerica .caas-content-byline-wrapper .caas-content-contain-share .caas-share-buttons .caas-button .reactions-count,
.caas.enableGTAmerica .xray-cards-header-title {
    color: white !important;
}

.caas.enableGTAmerica .caas-container .caas-content-byline-wrapper .caas-attr .caas-attr-meta .caas-attr-item,
.caas.enableGTAmerica .caas-container .caas-content-byline-wrapper .caas-attr .caas-attr-meta .caas-attr-item-author {
    color: #ffffff !important;
}

.caas.enableGTAmerica .caas-container .caas-content-byline-wrapper .caas-attr .caas-attr-meta .caas-attr-time-style {
    color: #ffffff !important;
}

.caas.enableNeoGreen .caas-content-byline-wrapper .caas-content-contain-share .caas-share-buttons .caas-comment {
    background: #2c2c2c !important;
}

.richie-entities__entity__7d9542036c55fd69 {
    color: white !important;
}

.ufinance .hideButton {
    position: absolute;
    right: 0px;
    margin: 12px 10px 0 0 !important;
    z-index: 999999999;
    opacity: 0;
    font-size: 0.7rem !important;
}

.ufinance .hideButton:hover {
    opacity: 1;
}

.ufinance .list-category-header{
    background-color: #282c30;
}

.ufinance .list-category-icon {
    color: rgb(205, 205, 205);
    padding-bottom: 5px;
    vertical-align: bottom!important;
    cursor: pointer;
}

.ufinance .ticker-note-textarea {
    overflow: auto!important;
    width: -webkit-fill-available !important;
}

.ufinance .card {
    margin-bottom: 0.5em;
    min-width: 250px !important;
}

.widget-width {
    width: 100% !important;
}


#render-target-default {
    display: flex;
    justify-content: center;
}

#render-target-default > .finance {
    flex: 0 0 70%;
}

#render-target-default > #ufinance_app {
    margin-top:135px;
}

#ufinance_app .card-body {
    padding: 0;
    margin-top: -1px;
}

#ufinance_app {
    background: #202020;
    margin-bottom: 15px;
    min-width: 250px;
    max-width: 300px;
    display: block;
    position: relative;
    left: 0px;
    z-index: 9;
    margin-top: 10px;
    /*border: 1px solid #676767;*/
}

#show-hide-ufinance {
    position: fixed;
    background: #646464;
    border-radius: 99999px;
    text-align: center;
    padding: 7px 8px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    bottom: 20px;
    right: 20px;
    z-index: 99999999;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s;
}

#show-hide-ufinance:hover {
    opacity: 1;
}

.slide-right-animate{
    min-width: 0 !important;
    overflow: hidden;
}

body#atomic {
    display: flex;
    background-color: #353535 !important;
}

body#atomic > #svelte {
    flex: 1;
}

body#atomic #ufinance_app {
    background-color: #353535 !important;
}

.ufinance .card-header {
    padding: 0.2rem 1rem !important;
}

.ufinance #textarea-ticker-note{
    padding: 0.3rem;
    margin: 0.3rem;
}

.ufinance .btn {
    margin: 0.2rem 0.5rem;
}

.review-us-btn{
    background: linear-gradient(90deg, rgba(129,127,20,1) 0%, rgba(235,219,18,1) 35%, rgba(247,255,0,1) 100%) !important;
    color: white!important;
    padding: 1rem !important;
    border: 2px solid #ff0000!important;
    text-shadow: 0px 1px 2px #000, 1px 2px 2px #000000!important;
}

.review-us-btn:hover{
    color: #ffcfcf!important;
}

.close_header_icon {
    border: 2px solid #3165ca;
    background: #2e26a9;
    border-radius: 4px;
    padding: 6px 8px;
    cursor: pointer;
}

.ybar-ytheme-crunch.ybar-property-finance ._yb_1eqqlf0{

}